body {
    font-family: 'Ubuntu', sans-serif;
}

.container {
    width: 600px;
}

.jumbotron {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}

.btn {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}

.btn-reset {
    width: 100%;
    margin-top: 5px;
}

.btn:hover {
    color: rgb(50, 118, 177);
    background-color: rgb(255, 255, 255);
}

.form-control {
    max-width: 100%;
    text-align: right;
}

.input-group {
    margin-top: 5px;
}

.addon-left {
    min-width: 100px;
    text-align: right;
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}

.addon-right {
    min-width: 75px;
    text-align: left;
}

.addon-middle {
    background-color: rgb(255, 255, 255);
}

